{% extends 'base.html'%}

{% block title %}
Все бумаги
{% endblock  %}

{% block content %}



<div class="container">
  <div class="table-responsive">
  <table class="table table-striped table-sm">

    <thead>
      <tr>
        <th scope="col">Вид ценной бумаги </th>
        <th scope="col">Тикер</th>
        <th scope="col">картинка</th>
        <th scope="col">Название</th>
        <th scope="col">Валюта</th>
      </tr>
    </thead>
    <tbody>
      {% for security in home_security %}
      <tr>
        <td>{{ security.type_securities}}</td>
        <td><a href="#">{{ security.ticker}}</a></td>
        <td><img src="{{ security.image.url }}" width="30" alt="{{security.title}}"></td>
        <td>{{ security.name}}</td>
        <td>{{ security.currency}}</td>

      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}